@include breakpoint-down {
    .container {
        flex-direction: column;
    }

    .img__desktop {
        display: none;
    }
}

@include breakpoint-up {
    .container {
        max-width: 600px;
    }

    .img__mobile {
        display: none;
    }

    .content {
        
        &__product {
            font-size: 2rem !important;
            margin-bottom: 0.4em !important;
        }
    }
}